@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&family=Roboto+Condensed:wght@300;400&display=swap');
:root {
    box-sizing: border-box;
    --blue-color: #5c84ec;
    --pink-color: #f03c6d;
    --paragraph-color: #70707070;
    /* font-size: 62.5%; */
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--blue-color), var(--pink-color));
    border-radius: 20px;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: 'Mulish', sans-serif;
    background: #f9fbff;
}

h1 {
    font-size: 2.8rem;
    font-weight: 900;
    letter-spacing: 3px;
}

h2 {
    font-size: 1.75rem;
    font-weight: 700;
    /* color: #fff; */
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--paragraph-color);
}

a {
    font-size: 1rem;
    color: #fff;
}

.mt-10 {
    margin-top: 100px;
}

.mt-70 {
    margin-top: 70px;
}

/* navigation section */
.navbar {
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}
.navbar-nav .nav-item {
    margin: 0 10px;
}

nav.stickyadd .active {
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.7);
}

/* sticky add sẽ thêm vào thẻ nav bằng jquery */
nav.stickyadd {
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.5s;
}

nav.stickyadd .nav-item .nav-link {
    color: rgba(0, 0, 0, 0.7);
}

nav.stickyadd .navbar-brand {
    /* color: rgba(0, 0, 0, 0.7); */
}

nav.stick {
    transition: all 0.5s;
}

.hamburger {
    color: #fff;
    font-size: 1.5rem;
}

.hamburger.whenscrolled {
    color: #000;
}
/* hero */
/* them anh dong */
#particles-js {
    height: 100vh;
    width: 100%;
    position: absolute;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(92, 132, 236, 0.8), rgba(92, 132, 236, 0.8)),
        url(../assets/image/hom-notok.png);
    background-size: cover;
    background-position: center;
}

.hero-content {
    color: #fff;
}

/* about section */
.about-class {
    position: relative;
    margin-top: -200px;
}

.about-content {
    background: linear-gradient(135deg, var(--blue-color), var(--pink-color));
}

.wrap {
    margin-top: 40px;
    padding: 30px;
}

.wrap p,
.wrap h2 {
    color: #fff;
}

.wrap h2 {
    margin-bottom: 20px;
}

/* service */
.service-show {
    text-align: center;
}

.service-class .card {
    padding: 25px;
    margin-bottom: 30px;
}

.service-class i {
    font-size: 50px;
    background: linear-gradient(var(--pink-color), black);
    /* thêm màu vào icon */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* team section */
.team-class {
    z-index: 3;
    padding: 100px;
}

.team-class img {
    z-index: 2;
}

.team-class .bg-white {
    background: #fff;
}

.team-content {
    padding: 15px;
}

.team-class .box {
    position: relative;
    z-index: 1;
}

.team-class .box::before {
    content: ' ';
    position: absolute;
    height: 100%;
    width: 32%;
    top: -20px;
    left: -20px;
    z-index: -1;
    background: linear-gradient(135deg, var(--blue-color), var(--pink-color));
}

/* project section */
.project-class i {
    font-size: 50px;
    background: linear-gradient(var(--pink-color), black);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px 0 5px 20px;
}

.project-class .col-lg-3 {
    padding: 0;
}

.card {
    margin-right: 10px;
}

/* contact section */
.contact-content {
    margin-top: -20vh;
}

.contact-class form {
    background-color: #fff;
    padding: 100px;
}

.contact-addr {
    background: linear-gradient(135deg, var(--blue-color), var(--pink-color));
    padding: 90px;
    color: #fff;
}

.contact-addr h2 {
    text-align: center;
}

.contact-addr p {
    color: #fff;
    margin: 20px 0;
}

.social-icon {
    text-align: center;
    display: inline;
}

.social-icon i {
    display: table-cell;
    font-size: 20px;
    width: 1%;
}

/* footer */
footer {
    height: 80px;
    line-height: 80px;
    text-align: center;
    background: #0c003e;
}

footer p {
    color: #fff;
}

/* phone */
@media (max-width: 575.98px) {
    h1 {
        margin: 1.5px;
        font-weight: 900;
    }
    h2 {
        font-size: 1.2rem;
        font-weight: 700;
    }

    .about-class {
        margin-top: 0;
    }
    .service-class {
        text-align: center;
    }

    .service-content {
        margin-bottom: 50px;
    }
    .team-class {
        text-align: center;
        padding: 0;
    }

    .team-class h2 {
        text-align: center;
    }

    .team-class .team-content {
        margin-top: 50px;
    }
    .team-class .box::before {
        content: ' ';
        position: absolute;
        height: 100%;
        width: 57%;
        top: -14px;
        left: 48px;
        z-index: -1;
        background: linear-gradient(135deg, var(--blue-color), var(--pink-color));
    }
    .project-class {
        text-align: center;
    }

    .project-class .card {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .project-class .col-lg-3 {
        padding: 13px;
    }

    .contact-class {
        text-align: center;
    }

    .contact-class form {
        padding: 40px;
        text-align: center;
    }

    footer {
        height: 80px;
        line-height: 80px;
    }
}
